body {
    font-family: Roboto;
    padding: 0;
    margin:0;
}

paper-header-panel {
    height: 5em;
}

md-card {
    min-width: 15em;
    margin: 1em;
    display: inline-block !important;
}

div.content {
    margin: 1em;
}

md-spinner {
    margin: 3em;
}

.back-button {
    min-width: 2em;
}