body {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

paper-header-panel {
    height: 5em;
}

md-card {
    min-width: 15em;
    margin: 1em;
    display: inline-block !important;
}

div.content {
    margin: 1em;
}

md-spinner {
    margin: 3em;
}

.back-button {
    min-width: 2em;
}

.retry-button {
    margin-left: 1em !important;
}

md-sidenav {
    min-width: 10em !important;
}

md-sidenav md-button {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.  
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}